@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    font-family: 'Merriweather', serif;
    margin: 20pt auto;
    width: 500pt;
}

h2 {
    font-size: 20pt;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.flashcard-container {
    border-radius: 3pt;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    min-height: 50pt;
    padding: 10pt;
    margin-bottom: 30pt;
}

.flashcard {
    text-align: center;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 6pt;
    border-style: solid;
    font-weight: normal;
    margin: 5pt;
    padding: 10pt;
    font-size: 12pt;
}

.flashcard:hover {
    border-color: black;
    color: black;
    background-color: white;
}
