@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    margin: 0;
    font-size: 18pt;
}

h1 {
    font-size: 20pt;
}

.instruction {
    color: dodgerblue;
}

.classification__name {
    color: mediumpurple;
}

.classification {
    width: 200pt;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-template-areas: "flashcard classification";
}

.classification__container {
    display: flex;
    flex-flow: column wrap;
    grid-area: classification;
    justify-content: center;
}

.flashcard {
    border-radius: 5pt;
    cursor: pointer;
    font-size: 24pt;
    font-weight: normal;
    height: 60px;
    margin: 5pt;
    padding: 5pt;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.flashcard--fade-in {
    animation: fade-in 1s;
}

.flashcard--fade-out {
    animation: fade-out 6s;
}

.flashcard--plain {
    background-color: dodgerblue;
    color: white;
}

.flashcard--success {
    background-color: lightgreen;
    color: white;
}

.flashcard--warning {
    background-color: orange;
    color: white;
}

.flashcard--mistake {
    background-color: red;
    color: white;
}

.flashcard__container {
    border-radius: 3pt;
    display: flex;
    flex-flow: row wrap;
    grid-area: flashcard;
    justify-content: flex-start;
}

.pod {
    border-radius: 3pt;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 80px;
}

.pod--drag-over {
    background-color: springgreen;
    color: white;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 12pt;
    }

    h1 {
        font-size: 16pt;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "flashcard" "classification";
    }

    .flashcard {
        font-size: 14pt;
        height: 40px;
        line-height: 40px;
    }

    .pod {
        height: 60px;
    }
}

