:root {
    --air-superiority-blue: #759eb8;
    --alice-blue: #d8e1e9;
    --columbia-blue: #c5d5ea;
    --powder-blue: #b3c5d7;
    --silver-lake-blue: #7392b7;
    --primary-color: var(--silver-lake-blue);
    --secondary-color: var(--alice-blue);
    --button-text-color: var(--secondary-color);
    --button-background-color: var(--primary-color);
    --default-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--default-font-family);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.button-primary {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}
